@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@600&family=Saira:ital,wght@1,300;1,400&display=swap');

*{
  color: #414141;
  font-family: monospace;
}

html, body{
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-image: url(./assets/tile_background.png);
}

body{
  display: flex;
  flex-direction: column;
}

.nav-bar{
  min-height: 50px;
  box-sizing: border-box;
  border-bottom: 2px solid;
  display: flex;
  align-items: center;
  padding: 8px;
  justify-content: space-between;
  background-color: rgb(50, 97, 183);
}

.app-title{
  font-size: x-large;
  color: bisque;
  font-family: 'Mitr', sans-serif;
}

.todos-container{
  flex-grow: 1;
  box-sizing: border-box;
}

.add-button{
  position: fixed;
  bottom: 8px;
  right: 8px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid;
  background-color: rgb(110, 152, 234) ;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  background: transparent;
  border-style: none;
  cursor: pointer;
}

.todo-card{
  box-shadow: 9px 7px 16px 2px rgba(0,0,0,0.66);
  -webkit-box-shadow: 9px 7px 16px 2px rgba(0,0,0,0.66);
  -moz-box-shadow: 9px 7px 16px 2px rgba(0,0,0,0.66);
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-bottom: 2px solid;
  gap: 4px;
  margin: 12px;
  border-radius: 20px;
}

.divider{
  width: 100%;
  height: 2px;
  border-radius: 1px;
}

.tag{
  border: 1px solid;
  padding:  4px;
  border-radius: 24px;
  border-color: #414141;
  margin: 2px;
  background-color: rgb(0, 120, 120);
  color: bisque;
  box-sizing: border-box;
  font-size: small;
}

.tag:hover{
  background-color: rgb(0, 87, 87);
  cursor: pointer;
}

.todo-name{
  font-size: x-large;
  font-weight: bold;
}

.buttons-container{
  display: flex;
  justify-content: space-between;
}


@media screen and (min-width: 500px) {
  .todos-container {
      display: grid;
      grid-template-columns:1fr 1fr 1fr ;
  }

  .todo-card{
      height: fit-content;
  }
  
}